{{ define "index" }}

<!DOCTYPE html>
<html lang="fi">

{{ template "header" .Title }}

<body>

  <div class="container" id="index">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="/static/1/img/head.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{.Title}}</strong>
              <br>
              {{.Phrase}}
            </p>
          </div>

        </div>
      </article>
    </div>

    <div class="box">

      <div class="columns">
        <div class="column">
          <ul>
            {{range .Links}}

            <li><a href='{{. | slug}}.html'>{{. | linktext}}</a></li>

            {{end}}
          </ul>
        </div>
        <div class="column">

          <figure class="image">
            <img src="/static/1/img/footer.jpg" alt="Image">

          </figure>
        </div>

      </div>

    </div>
    <p id="date"></p>
  </div>
  {{ template "footer" . }}
</body>

</html>

{{ end }}